.icon {
    text-align: center;
}

.icon a span {
  color: black;
}

.icon a span:hover {
  color: grey;
}

.portrait {
  width: 100px;
  height: auto;
}

.copyright {
  text-align: center;
}

img.desaturate {
	filter: grayscale(100%);
}
